src/candidate_pairs.csv
src/datasets_zip/*
.ipynb_checkpoints/*

src/data
src/datasets_*
!src/datasets_zip
!src/datasets_zip/*.zip

*.csv
!linked_dataset.csv
!aligned_dataset.csv

!1. SchemaAlignment.ipynb
!2. RecordLinkage*.ipynb

*.ipynb
*.txt
*.pdf
