# Homework 2
target/
inputFiles/
inputFilesTest/

.project
.classpath
.settings/
.idea/

inputFile/*
outputCharts/

# Homework 3
!inputFile/tables_test.json
!inputFile/2. linked_dataset.csv

# Homework 4
report/
*.json

