src/candidate_pairs.csv
src/datasets_zip/*
.ipynb_checkpoints/*

src/data
src/datasets_*
!src/datasets_zip
!src/datasets_zip/*.zip

!final_dataset.csv

*.ipynb
!1. SchemaAlignment.ipynb
!2. RecordLinkage.ipynb

*.txt
*.pdf
*.csv